<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        body{
    background: skyblue;
    font-style: italic;
    color: aqua;
}

h1{
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

p, li{
    font-size: 16px;
    text-align: center;
}

form{
    text-align: center;
    padding: 10px;
}
    </style>

</head>
<body>
    
    <%- include('partials/nav.ejs') %>
    <h1>Hello World</h1>

    <p>My Name is Ranul</p>
    <form id="contact-form" method="POST" action="/successpage">
        <label for="who">Who do want to contact</label>
        <input type="text" name="who" value="">      
        
        <label for="dept">Which Department</label>
        <input type="text" name="dept" value="">
        
        <label for="email">Your email</label>
        <input type="email" name="email" value="">

        <input name="form" type="submit" value="I Disagree"/>
    </form>

    <script>

$('form').on('submt', function(){

    var item = $('form input')
    var userData = {who: who.val(), dept:dept.val(), email: email.val()}

    $.ajax({
            type:POST,
            url:'/contact',
            data:userData,

            success:function(userData){
                location.reload()
            }
        })
})
        

    </script>
</body>
</html>