<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    
    <%- include('partials/nav.ejs') %>
    
    <div class="name">
        <h1>Hello World</h1>
    </div>
    <p>Welcome to the profile of <%=person %> </p>


    <p>Contact us!</p>
    <script>
        var element = document.getElementsByClassName('name')[0]

        element.innerHTML +=  '<p id="age">Age: <%=data.age%></p><p>Gender: <%=data.gender%></p>'


        console.log(document.getElementById('age'))
    </script>
</body>
</html>